

.project {
  background-color: white;
  padding: 20px;
  height :max-content;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #2bc179;
}

hr {
  border-color: #2bc179;
}

.project-image {
  height: 150px;
  width: auto;
}

.text-center {
  text-align: center;
}

.pb-3 {
  padding-bottom: 1rem;
}
/* project-card*/

.project p {
  color: black;
}

.project-box {
  display: grid;
  flex-wrap: wrap;
  justify-content:center;
  margin: 75px 0;
}
.project-details{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.projects {
  height:350px;
  width:350px;
  border-radius: 10px;
  border: px solid rgb(38, 37, 37);
}
.projects:hover{
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.project-outline-box {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgb(228, 225, 225);
  overflow: hidden;
}
.align {
  flex: 1; /* Allow the content to take the available space */
  padding: 10px; /* Adjust padding as needed */
}
.img-top {
  height: 350px;
  width: 100%;
}
.title{
  padding: 2px;
  color: #2bc179;
}
.project-h1-text{
  color:#2bc179;
  text-align: center;
  align-items: center;
}
/* Responsive Styles */
@media (max-width: 830px) {
  .project-box {
    margin: 0;
  }

  .projects {
    flex: 0 0 calc(100% - 40px);
    margin-bottom: 10px;
  }

  .body {
    display: none;
  }
}
/* 

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.project-details:nth-child(even) {
  animation: slideInRight 0.8s ease-in-out;
}

.project-details:nth-child(odd) {
  animation: slideInLeft 0.8s ease-in-out;
} */
