

.project {
  background-color: white;
  padding: 20px;
  height :max-content;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #2bc179;
}

hr {
  border-color: #2bc179;
}

.project-image {
  height: 150px;
  width: auto;
}

.text-center {
  text-align: center;
}

.pb-3 {
  padding-bottom: 1rem;
}
/* project-card*/

.project p {
  color: black;
}

.project-box {
  display: grid;
  flex-wrap: wrap;
  justify-content:center;
  margin: 75px 0;
}
.project-details{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.projects {
  height:350px;
  width:350px;
  border-radius: 10px;
  border: px solid rgb(38, 37, 37);
}
.projects:hover{
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.project-outline-box {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgb(228, 225, 225);
  overflow: hidden;
}
.align {
  flex: 1; /* Allow the content to take the available space */
  padding: 10px; /* Adjust padding as needed */
}
.img-top {
  height: 350px;
  width: 100%;
}
.img-top-1 {
  width: 100%; /* Set the width to 100% to make it responsive */
  height: auto; /* Allow the height to adjust proportionally */
  max-width: 350px; /* Set a maximum width to prevent stretching */
  max-height: 350px; /* Set a maximum height to prevent stretching */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  border-radius: 10px; /* Apply border-radius as needed */
}

.title{
  padding: 2px;
  color: #2bc179;
}
.project-h1-text{
  color:#2bc179;
  text-align: center;
  align-items: center;
}
/* Responsive Styles */
@media (max-width: 830px) {
  .project-box {
    margin: 0;
  }
  projects .col-sm-6 {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .projects {
    flex: 0 0 calc(100% - 40px);
    margin-bottom: 10px;
  }

  .project-details{
    display: block;
  }
}

#dark .project{
  background-color: black;
}

#dark .text-center{
  color:aliceblue;
}
#dark .text{
  color: aliceblue;
}