*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
:root{
   color: azure;
}
.header-text{
  margin-top: 16.8px;
}
header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 1.5rem;
  
}
nav a {
  margin : 0 1.5rem;
  color:black;
  text-decoration: none;
}
nav a:hover{
  color : blue;
}

header .nav-btn{
  padding : 5px;
  cursor:pointer;
  background: transparent;
  border:none;
  outline:none;
  color : black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
/* dark mode */

.theme-btn{
  align-items: center;
  justify-content: center;
  height : 35px;
  width : 35px;
  background-color: rgb(250, 247, 247);
  text-align: center;
  cursor: pointer;
  right :0;
  z-index: 1;
  border-radius: 10px;
  padding: 10px;
}
@media only screen and (max-width :924px){
  header .nav-btn{
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header nav{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background-color: white;
    transition: 1s;
    transform: translateY(-100vh);
    flex-direction: column;
  }
  header .responsive_nav{
    transform : none;
  }

  nav .nav-close-btn{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content:center;

  }
  nav a {
    font-size : 1.5rem;
  }
}


#dark  a{
  color:white;
}

#dark .nav-close-btn{
  background-color:white;
}

#dark .nav-btn{
  width: 30px;
  height:30px;

  background-color: aliceblue;
}
#dark nav{
  background-color: black;
  color:aliceblue;
}