.skill {
  background-color: white;
  height: auto;
}
.text-skill {
  color:black;
  margin-bottom: 10px;
  font-size : 1rem;
}
.skill-caption{
  color:black;
}
.box-skill{
  height: auto;
  background-color: #f9fafb;
}
.adjust-skill{
  margin-top: 16px;
}
.progress-bar{
  background-color: #ddd;
  height: 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.text-center{
  color: black;
}
  .progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    width: auto; /* Adjust the width as needed */
  }
.container10{
  padding: 20px 180px;
}
.see-more {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  margin-top: 10px;
  display: none; /* Initially hide the See More option */
}
.box-skill{
  height: 100px;
}
.content-space{
  height: 100px;
}
/* Media query for screens 900px or less */
@media (max-width: 800px) {
  .see-more {
    display: block; /* Show the See More option for screens less than 900px */
  }
  .content-space{
    height: 40px;
  }
  /* Additional skills section styling for smaller screens */
  .additional-skills {
    display: none;
  }
}

/* Media query for smaller screens (adjust as needed) */
@media (max-width: 800px) {
  .col-xl-4 {
    width: 100%; /* Make columns take full width on smaller screens */
    margin-bottom: 10px;
  }

  /* Display additional skills below existing skills on smaller screens */
  .additional-skills {
    display: block;
  }
  .container10{
    padding: 1rem;
  }
}
#dark .skill{
  background-color: black;
}
#dark .box-skill{
  background-color: rgb(39, 37, 37);
}

#dark .text-skill{
  color:white;
}

#dark .progress-bar{
  height : 14px;
  
}